---
const today = new Date();
---

<footer class="relative mt-12 border-t py-6 dark:border-gray-900">
	<div class="mx-auto max-w-4xl px-6 md:px-12">
		<div class="flex flex-wrap justify-between gap-4">
			<div class="flex flex-col-reverse gap-6">
				<span class="text-sm text-gray-500 dark:text-gray-400">&copy; tailus 2021 - Present</span>
				<ul class="space-y-2">
					<li>
						<a href="mailto:hello@tailus.io" class="flex items-center gap-2 text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
							<span class="sr-only">Contact me</span>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
								<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
							</svg>
							<span class="text-sm tracking-wide">hello@tailus.io</span>
						</a>
					</li>
					<li>
						<a href="https://linkedin.com" class="flex items-center gap-2 text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
							<span class="sr-only">Connect on LinkedIn</span>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
								<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
							</svg>
							<span class="text-sm tracking-wide">LinkedIn</span>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/@tailus_ui" class="flex items-center gap-2 text-gray-700 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white">
							<span class="sr-only">Follow me on Twitter</span>
							<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-4 w-4">
								<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
							</svg>
							<span class="text-sm tracking-wide">Twitter</span>
						</a>
					</li>
				</ul>
			</div>
			<a href="#" target="_top" class="text-sm text-gray-700 dark:text-white">_top</a>
		</div>
	</div>
</footer>