---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const {title=SITE_TITLE, description=SITE_DESCRIPTION} = Astro.props;
---

<!doctype html>
<html lang="en" class="scroll-smooth">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body class="bg-white dark:bg-gray-900">
		<Header />
		<div aria-hidden="true" class="fixed inset-0 h-[200vh] -z-10 origin-top scale-y-0 bg-gradient-to-b from-gray-100 from-80% to-transparent transition-transform duration-700 dark:scale-y-100 dark:from-zinc-950"></div>
		<main class="pt-16 sm:pt-24 lg:pt-40 xl:pt-32">
			<slot />
		</main>
		<Footer />
	</body>
</html>
